
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>
<form method="post" id="createProduct">
    <label>Name</label>
    <input name="Name" />
    <br />
    <label>Description</label>
    <input name="Description" />
    <br />
    <label>Price</label>
    <input name="Price" />
    <br />
    <button type="button" id="saveBtn">Submit</button>
</form>
<script>
    $('#saveBtn').click(function () {
        var searchValue = $('#searchTxt').val();
        $.ajax({
            url: '/Product/Create',
            data: $('#createProduct').serialize(),
            type:'post'
        }
        ).done(function (response) {
            $('#tableContainer').html(response);
            $('#actionContainer').html('');
        }
        ).fail(function () {
            alert('fail');
        });
    });
</script>
