@model IEnumerable<Category>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>
<form method="post" id="createProduct">
    <div class="form-group">
        <label>Category</label>
        <select name="CategoryID" class="form-control">
            @foreach (Category category in Model)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input name="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input name="Price" class="form-control" />
    </div>
    <button type="button" id="saveBtn" class="btn btn-primary">Submit</button>
</form>
<script>
    $('#saveBtn').click(function () {
        var searchValue = $('#searchTxt').val();
        $.ajax({
            url: '/Product/Create',
            data: $('#createProduct').serialize(),
            type: 'post'
        }
        ).done(function (response) {
            $('#tableContainer').html(response);
            $('#actionContainer').html('');
        }
        ).fail(function () {
            alert('fail');
        });
    });
</script>
