@model  Product
@{
    ViewBag.Title = "Edit";
}


<h2>Edit Product</h2>
<form id="editProduct">
    <input name="Id" type="hidden" value="@Model.Id" />
    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <label>Price</label>
    <input name="Price" value="@Model.Price" />
    <br />
    <button type="button" id="updateBtn">Update</button>
</form>
<script>
    $('#updateBtn').click(function () {
        //var searchValue = $('#searchTxt').val();
        $.ajax({
            url: '/Product/Edit',
            data: $('#editProduct').serialize(),
            type: 'post'
        }
        ).done(function (response) {
            $('#tableContainer').html(response);
            $('#actionContainer').html('');
        }
        ).fail(function () {
            alert('fail');
        });
    });
</script>