@model IEnumerable<Product>
@{
    ViewBag.Title = "ProductTable";
}
<div>
    <form method="post">
        <input name="Search" id="searchTxt" />
        <button type="button" id="searchBtn">Search</button>
    </form>
    <button id="newBtn">New</button>
</div>

    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td></td>
                    <td>@product.Price</td>
                    <td>
                        <button class="editBtn" data-id="@product.Id">Edit</button>
                        <button class="deleteBtn" data-id="@product.Id">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<script>
    $('#searchBtn').click(function () {
        var searchValue = $('#searchTxt').val();
        $.ajax({
            url: '/Product/ProductTable',
            data: { search: searchValue }
        }
        ).done(function (response) {
            $('#tableContainer').html(response);
        }
        ).fail(function () {
            alert('fail');
        });
    });
    $('#newBtn').click(function () {
        var searchValue = $('#searchTxt').val();
        $.ajax({
            url: '/Product/Create',
        }
        ).done(function (response) {
            $('#actionContainer').html(response);
        }
        ).fail(function () {
            alert('fail');
        });
    });
    $('.editBtn').click(function () {
        $.ajax({
            url: '/Product/Edit',
            data: { id: $(this).attr('data-id') }
        }).done(function (response) {
            $('#actionContainer').html(response);
        }
        ).fail(function () {
            alert('fail');
        });
    });
    $('.deleteBtn').click(function () {
        var confirmDelete = confirm("Are you sure want to delete?");
        if (confirmDelete) {
            $.ajax({
                url: '/Product/Delete',
                data: { id: $(this).attr('data-id') },
                type:'post'
            }).done(function (response) {
                $('#tableContainer').html(response);
            }
            ).fail(function () {
                alert('fail');
            });
        }
    });
</script>