@using ClothBazar.Entities
@model Category

@{
    ViewBag.Title = "Edit";
    string trueChecked = Model.IsFeatured ? "checked" : string.Empty;
    string falseChecked = !Model.IsFeatured ? "checked" : string.Empty;
}

<h2>Edit</h2>
<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <label>Is Featured?</label>
    <input name="IsFeatured" type="radio" value="true" @trueChecked/> True
    <input name="IsFeatured" type="radio" value="false" @falseChecked /> False
    <br />
    <button type="submit">Submit</button>
</form>
